*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: lightblue;
    display: flex;
    align-items: center;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: flex;
    
}
.col-25{
    height: 50px;
    width: 25%;
    background-color: orange;
    border: 1px solid black; 
}
.col-50{
    height: 50px;
    width: 50%;
    background-color: orange;
    border: 1px solid black; 
}
.background-blu{
    background-color: blue;
}

.padding-vertical-20{
    padding: 20px 0px;
}

.container-sm{
    width: 60%;
    margin: 0 auto;
    padding: 20px 0px;
}
.col-100{
    width: 100%;
    border: 1px solid black;
    height: 300px;
    background-color: palevioletred;
}
.coll-60{
    height: 300px;
    width: 60%;
    background-color: lightblue;
    border: 1px solid black;
}
.coll-40{
    height: 300px;
    width: 40%;
    background-color: pink;
    border: 1px solid black;
}

.background-grey{
    background-color: lightgray;
}
.col-green{
    background-color: green;
    height: 400px;
}

footer{
    background-color: black;
}

.col-30{
    background-color: palevioletred;
    border: 1px solid white;
    height: 200px;
    width: 30%;
}

.col-70{
    background-color: aqua;
    height: 200px;
    width: 70%;
    border: 1px solid white;
}
.col-25-footer{
    height: 200px;
    width: 25%;
    background-color: aqua;
    border: 1px solid black; 
}
.container-sm-footer{
    width: 60%;
    margin: 0 auto;
    padding: 20px 0px;
    border: 1px solid white;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    background-color: orange;
}
.bottone{
    background-color: orange;
}